.post-form {
  margin: 1rem auto;
}

.mat-form-field {
  width: 100%;
}

textarea {
  min-height: 6rem;
}

.image-preview {
  max-width: 100%;
  height: auto;
  margin: 1rem auto;
}

.button-submit {
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
}
